.game-list-slider-wrapper {
  display: flex;
  gap: 12px;
  padding: 4px;
  overflow-x: auto;
  white-space: no-wrap;
  scrollbar-width: thin;
  scrollbar-color:var(--gray-1000) var(--dark-slate-gray-1);
}

.game-list-item {
  width: 70px;
  height: 60px;
  background-color: var(--dark-blue-gray-color);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  cursor: pointer;
  text-align: center;
  flex-direction: column;
  flex: 0 0 auto;
  margin-left: 4px;
}

.icon-wrapper {
  margin-bottom: 5px;
}

.label {
  font-size: 12px;
  color: var(--white);
}

.tab-item img {
  object-fit: contain;
}

.game-list-slider-wrapper::-webkit-scrollbar {
  height: 6px;
}

.game-list-slider-wrapper::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid var(--dark-slate-gray-1);
}

.game-list-slider-wrapper::-webkit-scrollbar-track {
  background: var(--dark-blue-gray-3);
}