.invitation-bonus {
  margin-top: 30px;
}

.invitation-bonus .referalPageSection-title {
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: var(--yellow-vivid);
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.invitation-bonus .invitationBonus-col {
  background: linear-gradient(
    110.11deg,
    var(--deep-plum) 13.46%,
    var(--purple-pink) 88.34%
  );
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.invitation-bonus .invitationBonus-col .invitationBonus-content {
  padding: 0 0 0 40px;
  max-width: 470px;
}

.invitation-bonus
  .invitationBonus-col
  .invitationBonus-content
  .invitationBonus-content-title {
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: var(--golden-yellow);
  margin-bottom: 15px;
}

.invitation-bonus .invitationBonus-col .invitationBonus-content p {
  font-weight: 400;
  font-size: clamp(16px, 1.4vw, 18px);
  line-height: 22px;
  color: var(--white);
}

.invitation-bonus .invitationBonus-col .invitationBonus-img {
  margin-right: 50px;
}

.invitation-bonus .invitationBonus-col .invitationBonus-img img {
  max-width: 435px;
}

.achievement-bonus {
  background: linear-gradient(
    1.04deg,
    var(--midnight-blue) 0.99%,
    var(--midnight-blue-1) 54.74%
  );
  border-radius: 10px;
  padding: 30px 65px;
  margin-top: 32px;
}

.achievement-bonus .cumulative-deposit {
  margin-top: 50px;
}

.achievement-bonus .cumulative-deposit .cd-col {
  background-color: var(--lilac);
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  padding: 8px 20px;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  color: var(--white);
}

.achievement-bonus .cumulative-deposit .cd-col .title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  width: 220px;
  margin-block: 10px !important;
}

.achievement-bonus .cumulative-deposit .cd-col.cd-title {
  background-color: transparent;
}

.achievement-bonus .cumulative-deposit .cd-col.cd-title .title {
  font-weight: 800;
}

.achievement-bonus .cumulative-deposit .colouredAchivement {
  background-color: var(--butter-yellow);
  color: var(---black);
}

@media only screen and (max-width: 1199.99px) and (min-width: 991.98px) {
  .sideBarOpen .invitation-bonus {
    margin-top: 20px;
  }

  .sideBarOpen .invitation-bonus .invitationBonus-col .invitationBonus-img {
    margin-right: 0;
  }

  .sideBarOpen .invitation-bonus .invitationBonus-col .invitationBonus-img img {
    max-width: 275px;
  }

  .sideBarOpen .invitation-bonus .invitationBonus-col .invitationBonus-content {
    padding: 15px 15px 5px;
  }

  .sideBarOpen .achievement-bonus {
    padding: 30px;
  }
}

@media screen and (max-width: 1199.98px) {
  .invitation-bonus {
    margin-top: 40px;
  }
  .achievement-bonus .cumulative-deposit {
    margin-top: 30px;
  }
}

@media screen and (max-width: 991.98px) {
  .invitation-bonus .invitationBonus-col .invitationBonus-content {
    padding: 15px;
  }
  .invitation-bonus
    .invitationBonus-col
    .invitationBonus-content
    .invitationBonus-content-title {
    margin-bottom: 10px;
  }

  .invitation-bonus .invitationBonus-col .invitationBonus-content {
    padding: 15px;
  }

  .invitation-bonus .invitationBonus-col .invitationBonus-img {
    margin-right: 0;
  }

  .invitation-bonus .invitationBonus-col .invitationBonus-img img {
    max-width: 330px;
  }
  .achievement-bonus {
    padding: 30px 20px;
  }

  .achievement-bonus .cumulative-deposit {
    margin-top: 20px;
  }
}

@media screen and (max-width: 767px) {
  .invitation-bonus
    .invitationBonus-col
    .invitationBonus-content
    .invitationBonus-content-title {
    margin-bottom: 10px;
    text-align: center;
  }

  .invitation-bonus .invitationBonus-col .invitationBonus-img {
    margin-right: 0;
    text-align: center;
  }
}

@media screen and (max-width: 575.98px) {
  .invitation-bonus .invitationBonus-col .invitationBonus-content .title {
    font-size: 20px;
    line-height: 24px;
  }

  .invitation-bonus .invitationBonus-col .invitationBonus-content p {
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 767.98px) {
  .invitation-bonus .invitationBonus-col {
    flex-direction: column;
    align-items: initial;
    padding: 20px;
  }
  .invitation-bonus .invitationBonus-col {
    flex-direction: column;
    align-items: initial;
    padding: 20px;
  }

  .invitation-bonus .invitationBonus-col .invitationBonus-content {
    padding: 0;
    max-width: 100%;
  }

  .invitation-bonus .invitationBonus-col .invitationBonus-img img {
    max-width: 100%;
  }
  .achievement-bonus {
    padding: 30px 25px;
  }

  .achievement-bonus .cumulative-deposit .cd-col.cd-title {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .achievement-bonus {
    padding: 20px 15px;
  }

  .achievement-bonus .cumulative-deposit .cd-col {
    padding: 14px 10px;
    padding: 12px 10px;
    border-radius: 10px;
  }

  .achievement-bonus .cumulative-deposit .cd-col .title {
    width: 120px;
    font-size: 18px;
    line-height: 21px;
    margin-block: 7px !important;
  }

  .achievement-bonus .cumulative-deposit .cd-col .title img {
    height: 18px;
    width: 18px;
  }
}
