.loadingButton {
  width: 25px;
  height: 25px;
  margin: 0px 0px -5px 20px;
  border: 5px solid var(--white);
  border-bottom-color: var(--raspberry-red-2);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: loadingBtnSpin 1s linear infinite;
}

@keyframes loadingBtnSpin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
