.header {
  width: 100%;
  height: 70px;
  background-color: var(--dark-slate-gray);
  color: var(--white);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.5s;
  z-index: 100;
}

.yellow-class {
  color: var(--orange) !important;
}

.logo-img {
  margin-right: 30px;
}

.logo-img img {
  object-fit: contain;
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.toggle-header{
    display: none;
    position: relative;
    top: 25px;
}

.toggle-header icon{
    font-size: 20px;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links span {
  color: var(--white);
  font-size: 15px;
  white-space: nowrap;
  font-weight: bold !important;
  text-transform: uppercase !important;
}

.actions {
  display: flex;
  gap: 10px;
}

.btn-outline {
  background: transparent;
  color: var(--light-bright-green);
  border: 1px solid var(--light-bright-green);
  padding: 6px 14px;
  border-radius: 5px;
  cursor: pointer;
  width: 130px;
  height: 40px;
}

.btn-filled {
  background-color: var(--light-bright-green);
  color: black;
  padding: 6px 14px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 130px;
  height: 40px;
}

@media (max-width: 1080px) {
  .nav .nav-links {
    display: none;
  }
  .nav-container{
    display: none;
  }
  .toggle-header{
    display: block;
}
}


.mobile-menu {
  position: fixed;
  top: -100vh;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--dark-slate-gray);
  color: white;
  z-index: 999;
  transition: top 0.4s ease-in-out;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.mobile-menu.open {
  top: 0;
}

.mobile-menu-header {
  display: flex;
  justify-content: flex-end;
  font-size: 24px;
  margin-bottom: 20px;
  cursor: pointer;
}

.mobile-menu-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mobile-menu-item {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 10px;
}
