.provider-scroll-container {
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  z-index: 98;
  display: flex;
  overflow-x: auto;
  padding: 4px;
  gap: 16px;
  white-space: nowrap;
  scrollbar-width: thin;
  scrollbar-color: var(--gray-1000) var(--dark-slate-gray-1);
}

.provider-card {
  flex: 0 0 auto;
  background-color: var(--dark-blue-gray-color);
  border-radius: 10px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin-left: 4px;
}

.provider-scroll-container::-webkit-scrollbar {
  height: 8px;
}

.provider-scroll-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid var(--dark-slate-gray-1);
}

.provider-scroll-container::-webkit-scrollbar-track {
  background: var(--dark-blue-gray-3);
}