.StatisticsTab {
  padding: 25px 50px 45px;
  background: var(--gray-800, --crimson-red-1);
  border-radius: 10px;
}

.bonus-date {
  display: flex;
  align-items: center;
}

.bonus-date .MuiFormControl-root {
  margin-left: 15px;
}

.bonus-date .MuiFormControl-root:first-child {
  margin-left: 0;
}

.bonus-date .MuiFormControl-root .MuiOutlinedInput-notchedOutline {
  border-color: transparent !important;
  border-radius: 10px;
  color: var(--lavender-blue-3);
}

.bonus-date
  .MuiFormControl-root
  .MuiInputBase-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-width: 1px;
}

.bonus-date .MuiFormControl-root .MuiSelect-select {
  color: var(--white);
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  background: var(--crimson-1);
}

.bonus-date .MuiFormControl-root .MuiSvgIcon-root {
  color: var(--white);
}

.bonus-date .MuiFormControl-root.showRecord {
  width: 70px;
}

.bonus-date .MuiFormControl-root.invitationBonus {
  width: 230px;
}

.bonus-date .MuiFormControl-root.statistics-startEndDate {
  flex: 1;
}

.bonus-date
  .MuiFormControl-root.statistics-startEndDate
  .react-datepicker__input-container::after {
  position: absolute;
  content: '';
  left: 15px;
  top: 17px;
  background-image: url(../../public/assets/images/calendar.png);
  background-repeat: no-repeat;
  background-position: 0;
  background-size: cover;
  width: 20px;
  height: 20px;
}

.bonus-date
  .MuiFormControl-root.statistics-startEndDate
  .react-datepicker__input-container
  input {
  width: 100%;
  border: transparent;
  background-color: var(--gray-400, --crimson-1);
  border-radius: 10px;
  padding: 18px 15px 18px 45px;
  font-weight: 600;
  font-size: 15px;
  color: var(--white);
}

.bonus-date
  .MuiFormControl-root.statistics-startEndDate
  .react-datepicker__input-container
  input:focus-visible {
  outline: none;
}

.bonus-date
  .MuiFormControl-root.statistics-startEndDate
  .react-datepicker__input-container
  input::placeholder {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: var(--white);
}

.bonus-date
  .MuiFormControl-root.statistics-startEndDate
  .react-datepicker-popper {
  padding-top: 0;
}

.bonus-date
  .MuiFormControl-root.statistics-startEndDate
  .react-datepicker-popper
  .react-datepicker__triangle {
  display: none;
}

.bonus-date .search-btn {
  margin-left: 15px;
  background: linear-gradient(
    90deg,
    var(--blue-vivid) 0%,
    var(--blue-violet) 98.45%
  );
  border: 1px solid var(--blue) !important;
  border-radius: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: var(--white);
  padding: 15px 25px;
}

.bonus-date .search-btn:hover {
  background-color: var(--gray-400, --pink-coral);
}

.depositTable table tr th td {
  white-space: nowrap;
  color: var(--white) !important;
  background: transparent !important;
}

.depositTable table > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  color: var(--white);
  background-color: transparent;
  font-size: 15px;
  font-weight: 500;
  box-shadow: inset 0 0 0 9999px
    var(--bs-table-bg-state, var(--bs-table-bg-type, var(--bs-table-accent-bg)));
}

.deposit-table-content {
  overflow-x: auto;
}

.game-history-container-section {
  margin-top: 14vh;
}


@media screen and (max-width: 1199.98px) {
  .StatisticsTab {
    padding: 25px 20px 25px;
  }

}

@media screen and (max-width: 767.98px) {
  .StatisticsTab {
    padding: 15px 15px 25px;
  }
  .bonus-date {
    flex-flow: wrap;
  }

  .bonus-date .MuiFormControl-root.showRecord {
    order: 2;
  }

  .bonus-date .MuiFormControl-root.invitationBonus {
    order: 3;
    margin-left: 20px;
    flex: auto;
    margin-bottom: 20px;
  }

  .bonus-date .MuiFormControl-root.statistics-startEndDate {
    order: 1;
    flex: 100%;
    margin-bottom: 20px;
  }

  .bonus-date .search-btn {
    order: 4;
    flex: 100%;
    margin: unset;
  }

  .bonus-date .MuiFormControl-root {
    margin-left: 0 !important;
  }
}

@media screen and (max-width: 575.98px) {
  .StatisticsTab table.table.table-border.mt-4 {
    min-width: 550px;
  }
  .bonus-date .MuiFormControl-root.invitationBonus {
    margin-left: 6px;
    width: 213px;
  }
}
