.vip-slider .slick-slide {
  padding: 0 2px;
}

.advantage {
  position: relative;
  text-align: center;
  background-color: var(--gray-800,--burgundy-red);
  margin-top: 140px;
  border-radius: 0 0 10px 10px;
  outline: none;
}

.advantage::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--gray-600,--burgundy-red);
  background: linear-gradient(90deg, var(--blue-vivid) 0%, var(--blue-violet) 98.45%);
  padding-bottom: 50%;
  width: 58%;
  z-index: 1;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(-30deg) skewX(30deg);
  -ms-transform: rotate(-30deg) skewX(30deg);
  transform: rotate(-30deg) skewX(30deg);
}

.advantage-contenr {
  position: relative;
  z-index: 1;
}

.topSlider-img {
  display: flex;
  justify-content: center;
  position: absolute;
  text-align: center;
  top: -120px;
  left: 50%;
  transform: translateX(-50%);
}

.levelsPoint {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 10px);
  z-index: 1;
  color: var(--steel-blue);
  font-weight: 900;
  font-size: 20px;
  line-height: normal;
}

.slider-container {
    background-color: var(--gray-800,  --burgundy-red);
    border-radius: 0 0 8px 8px;
    display: flex !important;
    flex-direction: column;
  }
  
  .vip-text {
    font-weight: 900;
    font-size: 22px;
    color:var(--white);
  }
  
  .vip-btn-text {
    font-weight: 500;
    color:var(--white);
    font-size: 12px;
  }
  
  .vip-btn-text2 {
    font-weight: 700;
    color: var(--yellow-vivid);
    font-size: 12px;
  }
  
  .btn-SliderBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--gray-600,   --deep-pink);
    border-radius: 6px;
    padding: 6px;
  }
  
  .slider-text-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .slider-heading {
    color:var(--white);
    font-weight: 700;
  }
  
  .slider-subtexts {
    color: var(--gray-100);
    line-height: 2;
    font-size: 15px;
  }
  
  .slider-cashback .sliderCashback-title {
    color:var(--white);
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 12px;
  }
  
  .sliderCashback-col .cashback-name {
    font-size: 15px;
    color:var(--gray-100)
  }
  
  .sliderCashback-col .cashback-name span {
    color: var(--yellow-vivid);
  }
  
  .vip-slider .slick-arrow.slick-prev {
    background: url(../../public/assets/images/slider_previous.png) 0 0 / 100%
      no-repeat;
    width: 35px;
    height: 37px;
    background-size: cover;
    z-index: 2;
    margin-left: 30px;
    mix-blend-mode: plus-lighter;
  }
  
  .vip-slider .slick-arrow.slick-next {
    background: url(../../public/assets/images/slider_next.png) 0 0 / 100%
      no-repeat;
    width: 35px;
    height: 37px;
    background-size: cover;
    z-index: 2;
    margin-right: 30px;
    mix-blend-mode: plus-lighter;
  }
  
  .vip-slider .slick-next.slick-disabled:before,
  .slick-prev.slick-disabled:before {
    display: none;
  }
  
  .vip-slider .slick-prev:before,
  .slick-next:before {
    display: none;
  }

@media screen and (max-width: 767.98px) {
  .level-slider {
    top: -85px;
  }
}
