.ranking-vip-container{
  margin-top: 10vh;
}

.vip-bounus-container {
  background: var(--gray-800, --burgundy-red);
  text-align: center;
  border-radius: 5px;
}

.vip-bonus-amount {
  display: flex;
  padding: 8px;
  background: var(--gray-600, --deep-pink);
  flex-direction: column;
  border-radius: 6px;
}

.vip-heading-text {
  color: var(--white);
  font-weight: 600;
}

.vip-heading-text-blue {
  color: var(--yellow-vivid);
  font-weight: 600;
}

.fullVipBonus-leval {
  margin-top: 1.5rem !important;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.hpMenu-top-vip {
  padding: 0px 5px 0;
  border-radius: 10px;
}

.hpMenu-top-vip .user-levelScore {
  display: flex;
  padding: 25px 0px 20px;
  justify-content: space-between;
}

.hpMenu-top-vip .user-levelScore .userLevel {
  flex: 1;
  text-align: center;
}

.hpMenu-top-vip .user-levelScore .userLevel .levalName {
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: var(--golden-yellow);
  margin-top: 15px;
}

.hpMenu-top-vip .user-levelScore .userScore {
  width: 100%;
  margin-left: 15px;
}

.hpMenu-top-vip .user-levelScore .userScore .userScore-col {
  margin-bottom: 18px;
}

.hpMenu-top-vip .user-levelScore .userScore .userScore-col:last-child {
  margin-bottom: 0;
}

.hpMenu-top-vip .user-levelScore .userScore .userScore-col .title-value {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.hpMenu-top-vip .user-levelScore .userScore .userScore-col .title-value .title {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: var(--white);
}

.hpMenu-top-vip
  .user-levelScore
  .userScore
  .userScore-col
  .title-value
  .amount {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  align-items: center;
  color: var(--white);
}

.hpMenu-top-vip
  .user-levelScore
  .userScore
  .userScore-col
  .title-value
  .amount
  span {
  color: var(--lemon-yellow);
}

.hpMenu-top-vip
  .user-levelScore
  .userScore
  .userScore-col.betAmount
  .title-value
  .amount
  span {
  color: var(--medium-violet);
}

.hpMenu-top-vip .user-levelScore .userScore .userScore-col .process-score {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.linear-progress {
  background-color: var(--black) !important;
}

.linear-progress .MuiLinearProgress-bar {
  background-color: var(--yellow-vivid) !important;
}

.bet-amount-linear-progress {
  background-color: var(--black) !important;
}

.bet-amount-linear-progress .MuiLinearProgress-bar {
  background-color: var(--medium-violet) !important;
}

.hpMenu-top-vip
  .user-levelScore
  .userScore
  .userScore-col
  .process-score
  .MuiLinearProgress-root {
  width: 100%;
  height: 10px;
  border-radius: 20px;
  background-color: var(--black);
}

.hpMenu-top-vip
  .user-levelScore
  .userScore
  .userScore-col
  .process-score
  .MuiLinearProgress-root
  .MuiLinearProgress-bar {
  background-color: var(--medium-violet);
}

.hpMenu-top-vip
  .user-levelScore
  .userScore
  .userScore-col
  .process-score
  .progressValue {
  flex: 1 0 40px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: var(--white);
  margin-left: 8px;
  min-width: 35px;
  text-align: right;
}

.upgrading-btn {
  display: flex;
  padding: 8px;
  background: var(--gray-600, --deep-pink);
  flex-direction: column;
  border-radius: 6px;
}

.upgrading-btn:hover {
  background: var(--light-gray-transparent);
  transition: 0.5s;
}

.hpMenu-top-Fullvip .user-levelScore {
  display: flex;
  padding: 25px 0;
  justify-content: space-between;
}

.hpMenu-top-Fullvip .user-levelScore .userLevel {
  flex: 1;
  text-align: center;
}

.hpMenu-top-Fullvip .user-levelScore .userLevel .levalName {
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: var(--golden-yellow);
  margin-top: 15px;
}

.hpMenu-top-Fullvip .user-levelScore .userScore {
  width: 100%;
}

.hpMenu-top-Fullvip .user-levelScore .userScore .userScore-col {
  margin-bottom: 18px;
}

.hpMenu-top-Fullvip .user-levelScore .userScore .userScore-col:last-child {
  margin-bottom: 0;
}

.hpMenu-top-Fullvip .user-levelScore .userScore .userScore-col .title-value {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.hpMenu-top-Fullvip
  .user-levelScore
  .userScore
  .userScore-col
  .title-value
  .title {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: var(--white);
}

.hpMenu-top-Fullvip
  .user-levelScore
  .userScore
  .userScore-col
  .title-value
  .amount {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  align-items: center;
  color: var(--white);
}

.hpMenu-top-Fullvip
  .user-levelScore
  .userScore
  .userScore-col
  .title-value
  .amount
  span {
  color: var(--lemon-yellow);
}

.hpMenu-top-Fullvip .user-info .userCopy-btn:hover {
  background-color: var(--sky-blue);
}

.hpMenu-top-Fullvip
  .user-levelScore
  .userScore
  .userScore-col.betAmount
  .title-value
  .amount
  span {
  color: var(--bright-blue);
}

.hpMenu-top-Fullvip .user-levelScore .userScore .userScore-col .process-score {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hpMenu-top-Fullvip
  .user-levelScore
  .userScore
  .userScore-col
  .process-score
  .MuiLinearProgress-root {
  width: 100%;
  height: 10px;
  border-radius: 20px;
  background-color: var(--royal-blue-2);
}

.hpMenu-top-Fullvip
  .user-levelScore
  .userScore
  .userScore-col
  .process-score
  .MuiLinearProgress-root
  .MuiLinearProgress-bar {
  background-color: var(--sky-blue);
}

.hpMenu-top-Fullvip
  .user-levelScore
  .userScore
  .userScore-col
  .process-score
  .progressValue {
  flex: 1;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: var(--white);
  margin-left: 8px;
  min-width: 35px;
  text-align: right;
}

@media screen and (max-width: 991.98px) {
  .hpMenu-top-Fullvip .user-levelScore {
    padding: 25px 0;
  }
}

@media screen and (max-width: 767.98px) {
  main {
    margin-left: 0;
  }

  .hpMenu-top-vip .user-levelScore .userScore {
    margin-left: 0;
  }
  .ranking-vip-container{
    margin-top: -1vh;
  }

}
