.deposit-bonus {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  margin-top: 10px;
}

.wallet_sec_other {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 14px;
  background: var(--gray-600, --burgundy-red);
  border: 1px solid var(--gray-300);
  width: 23.4%;
  height: 59px;
  margin-left: 7px;
  margin-bottom: 15px;
  text-decoration: none;
}

.wallet_sec_other:first-child,
.wallet_sec_other:nth-child(4n + 1) {
  margin-left: 0;
}

.wallet_sec_other .depo-amount {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: var(--white);
}

.cashBack-slider {
  margin-top: 8px;
}

.wallet_sec_other .depo-amount span {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  margin-right: 5px;
}

.wallet_sec_other .bonus-percentage {
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  color: var(--golden-yellow);
  margin-top: 3px;
}

.wallet_sec_other .hot {
  background: var(--raspberry-red-1);
  border-radius: 0px 14px;
  font-weight: 700;
  font-size: 8px;
  line-height: 10px;
  color: var(--white);
  text-align: center;
  width: 48px;
  position: absolute;
  top: 0;
  right: 0;
}

.wallet_sec_other:hover,
.wallet_sec_other.active {
  background: var(--gray-300, --deep-pink);
}

.wallet_sec_other:hover .bonus-percentage,
.wallet_sec_other:hover .hot,
.wallet_sec_other.active .bonus-percentage,
.wallet_sec_other.active .hot {
  display: none;
}

.doNot_div {
  border-radius: 10px;
}

.doNotText {
  color: var(--gray-100);
  font-weight: 600;
}

.depositBtn {
  display: flex;
  justify-content: center;
}

.modal-btn-CPF {
  width: 215px;
  padding: 11px 15px;
  border-radius: 10px;
  color: var(--white);
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
}

.modal-btn-CPF-disabled {
  width: 215px;
  padding: 11px 15px;
  border-radius: 10px;
  color: var(--white);
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  cursor: not-allowed;
}

.modal-btn-CPF:hover {
  background-color: var(--sky-blue-3);
}

.wallet-deposit-image-caraosel {
  height: 140px;
  display: block;
  overflow: hidden;
  width: 100%;
}

.select-currency-wallet-dropdown .MuiSelect-select {
  text-align: left;
}

.wallet-participate-checkbox .MuiSvgIcon-root {
  font-size: 30px;
  color: var(--gray-100);
}

@media screen and (max-width: 480px) {
  .wallet_sec_other {
    width: 23.1%;
  }
}

@media screen and (max-width: 480px) {
  .wallet_sec_other .depo-amount {
    font-size: 12px;
  }

  .wallet_sec_other .depo-amount span {
    font-size: 14px;
  }

  .wallet_sec_other .bonus-percentage {
    font-size: 10px;
  }
}

.success-payment {
  background-color: var(--gray-700) !important;
  height: 80vh;
}

.success-payment .card {
  width: 400px;
}

.success-payment .rounded-circle {
  width: 60px;
  height: 60px;
}

.success-payment .modal-btn {
  padding: 11px 10px !important;
  border-radius: 10px;
  color:var(--white) !important;
  font-weight: 400;
  font-size: 18px;
}

.success-payment .modal-btn:hover {
  color: var(--gray-100) !important;
}
